{% extends 'profile/base-profile.html' %}

{% block content %}

    <main>
        <!-- Delete Profile Form -->
        <section id="edit">

            <div class="form">
                <h1>Are you sure you want to delete your profile?</h1>

                <!-- Delete Profile Form -->
                <form  method="post" action="{% url 'delete user' pk=object.pk%}">
{#                    id='delete' class="register-form"#}
                    {{ form }}
                    <!-- Confirm Button -->
                    <button type="submit">Yes</button>
                    {% csrf_token %}
                </form>
                <!-- End Delete Profile Form -->
            </div>

        </section>

    </main>

{% endblock %}