{% extends 'profile/base-profile.html' %}

{% block content %}

    <main>
        <!-- Edit Profile Form -->
        <section id="register">
            <div class="form">
                <h2>Edit User</h2>
                <form class="register-form" method="post" action="{% url 'edit password' pk=request.user.pk %}">
                    {{ form }}
{#                    {{ user_form }}#}
{#                    {{ profile_form }}#}
                    <button type="submit">Edit</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>

    </main>

{% endblock %}