#details-wrapper {
    background-color: rgb(85, 237, 112);
    margin: 100px auto;
    padding: 10px;
    height: 65%;
    width: 50%;
    border-radius: 13px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5), 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}


#details-wrapper img {
    display: block;
    margin: 10px auto;
    height: 30vh;
    width: 30vh;
}

#details-title {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#details-description {
    width: 95%;
    margin: 30px auto;
    height: auto;
    text-align: center;
}

#details-title {
    font-size: 22px;
}


h4 {
    text-align: center;
}

p {
    text-align: center;
    font-size: 14px;
}

span {
    font-size: 21px;
}

#action-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}

#action-buttons a {
    text-decoration: none;
    margin: auto 50px;
    margin-bottom: 10px;
    font-size: 21px;
    width: 150px;
    text-align: center;
    color: white;
    background: rgb(76, 102, 199);
    border-radius: 5px;
}

#action-buttons a:hover {
    background: #ff7100;
}


.comments-section {
    width: 100%;
    height: auto;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    background-color: rgb(217, 222, 215);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 13px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0.1px;
}

h4 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 0.1px;
    color: rgb(7, 49, 152);
}


.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.comment:last-child {
    border-bottom: none;
}

.comment-author {
    font-weight: bold;
    color: #333;
}

.comment-text {
    margin-top: 0.1px;
    color: #555;
}


.comments-header {
    padding: 10px;
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
    z-index: 1;
}

.posted-comments {
    overflow-y: auto;
    flex-grow: 1;
    padding: 10px;
}

.add-comment {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    bottom: 0;
    z-index: 1;
    height: 10vh;
    width: 70%;
    border-radius: 13px;
}


.rate-section {
    margin: 1px auto;
    height: 3vh;
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-color: rgb(204, 204, 245);
    text-align: center;
    border-radius: 13px;
}