{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <main>
        <h1>Agencies</h1>
{#        {% if agencies %}#}
            <section id="dashboard-agencies">
                {% for agency in agencies %}
                    <div class="agency">
                        <p><b><u>Agency name:</u></b> {{ agency.agency_name }}</p>
                        <p><b><u>Website:</u></b> {{ agency.agency_website }}</p>
                        <h4><b>Reviews in trips:</b></h4>
                        <div>{% for trip in trips_by_agencies %}
                            {% if trip.used_agency_id == agency.pk %}
                               <li><a class="details-btn" href="{% url 'details trip' pk=trip.pk %}">{{ trip.trip_name }},</a></li>
                            {% endif %}
                             {% endfor %}
                        </div>

                    </div>
                {% endfor %}
            </section>
{#        {% else %}#}
{#            <h2>No Agencies yet.</h2>#}
{#        {% endif %}#}
    </main>

{% endblock %}