{% extends 'profile/base-profile.html' %}
{% load static %}

{% block content %}

    <main>
        <!-- Dashboard Page -->
        <h2>My Trips</h2>
        {% if trips %}
            <section id="dashboard">
                {% for trip in trips %}
                    <!-- first fruit -->
                    <div class="fruit">
                        <p><b><u>Trip name:</u></b> {{ trip.trip_name }}</p>
                        <p><b><u>Trip type:</u></b> {{ trip.type }}</p>
                        {% if trip.type == "Agency" %}
                            <p><b><u>Agency:</u></b> {{ trip.used_agency }}</p>
                        {% endif %}
                        <p><b><u>Country:</u></b> {{ trip.country.name }}</p>
                        <p><b><u>Cities:</u></b> {{ trip.cities }}</p>
                        <!-- fruit details button -->
                        <a class="details-btn" href="{% url 'details trip' pk=trip.pk %}">More Details</a>
                    </div>
                {% endfor %}
            </section>
        {% else %}
            <h2>No trips yet.</h2>
        {% endif %}
    </main>

{% endblock %}