{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <main>
        {% if authenticaed_user %}
            <!-- Start Searchbar Form -->
            <form class="searchbar" method="get" action="{% url 'index' %}">
                {{ search_form_country }}
                <button>
                    <img src="{% static 'images/search_icon.png' %}" height="12" alt="img2">
                </button>
                {% csrf_token %}
            </form>
            <!-- End Searchbar Form -->
        {% endif %}


        <!-- Home page -->
        {% if not authenticaed_user %}
            <p id="website-title">Do you want to take advice and share you passion about travelling.. come and join us
                by creating an
                account..
            </p>
            <p id="website-title">
                <a href="{% url 'register user' %}"><i>Register</i></a>
                ... or ...
                <a href="{% url 'login user' %}"><i>Login</i></a>
            </p>
        {% endif %}

        {% for trip in trips %}
            <div id="details-wrapper">

                {#                <img id="details-img" src="{{ trip.image_url }}" alt="trip_photo"/>#}

                <p><b><u>User: </u></b><a href="{% url 'details user' pk=trip.user.pk %}">{{ trip.user.username }}</a></p>
                <p><b><u>Trip name:</u></b> {{ trip.trip_name }}</p>
                <p><b><u>Trip type:</u></b> {{ trip.type }}</p>
                {% if trip.type == "Agency" %}
                    <p><b><u>Agency:</u></b> {{ trip.used_agency }}</p>
                {% endif %}
                <p><b><u>Country:</u></b>
                     {% for country in trip.country%}
                        {{ country.name }},
                        {% endfor %}
                </p>
                <p><b><u>Cities:</u></b> {{ trip.cities }}</p>
                <p><b><u>Rate:</u></b> {{ trip.average_rating }}</p>

                {% if authenticaed_user %}
                    <div>
                        <a class="details-btn" href="{% url 'details trip' pk=trip.pk %}">More Details</a>

                        <!--Rating section -->
                        {% include 'common/trip_rating.html' with trip=trip %}

                        <!--Comments section -->
                        {% include 'common/trip_comment.html' with trip=trip %}
                    </div>
                {% endif %}
                <p><b><u>Photos:</u></b></p>
                {% for photo in trip.photos.all %}
                    <img id="details-img" src="{{ photo.image.url }}"/>
                {% endfor %}

            </div>
        {% endfor %}

    </main>
{% endblock %}