{% extends 'common/base.html' %}
{% load static %}

{% block content %}

    <main>
        <!-- Start Searchbar Form -->
        <form class="searchbar" method="get" action="{% url 'index' %}">
            {{ search_form_country }}
            {{ search_form_city }}
            <button>
                <img src="{% static 'images/search_icon.png' %}" height="12" alt="img2">
            </button>
            {% csrf_token %}
        </form>
        <!-- End Searchbar Form -->

        <!-- Home page -->
        {% for trip in trips %}
            <div id="details-wrapper">
                <!-- trip image -->
                {#                <img id="details-img" src="{{trip.image_url}}" alt="trip_photo"/>#}

                <p><b><u>User:</u></b> {{ trip.user.username }}</p>
                <p><b><u>Trip name:</u></b> {{ trip.trip_name }}</p>
                <p><b><u>Trip type:</u></b> {{ trip.type }}</p>
                {% if trip.type == "Agency" %}
                    <p><b><u>Agency:</u></b> {{ trip.used_agency }}</p>
                {% endif %}
                <p><b><u>Country:</u></b> {{ trip.country.name }}</p>
                <p><b><u>Cities:</u></b> {{ trip.cities }}</p>
                <p><b><u>Rate:</u></b> {{ trip.average_rating }}</p>


                {#                {{ trip.triprating_set.all }}#}
                <a class="details-btn" href="{% url 'details trip' pk=trip.pk %}">More Details</a>

                <!--Rating section -->
                <h4>Rate this trip:</h4>
                <div class="rate-section">
                    <form class="create-form" method="post" action="{% url 'rate trip' trip_id=trip.pk %}">
                        {{ rate_form.as_table }}

                        <button type="submit">Rate</button>

                        {% csrf_token %}
                    </form>
                </div>

                <!--Comments section -->
                {% include 'common/trip_comment.html' with trip=trip %}
            </div>
        {% endfor %}

    </main>
{% endblock %}