<h2>Comments</h2>
<div class="comments-section">

    <div class="posted-comments">
        {% if trip.tripcomment_set.all %}
            {% for comment in trip.tripcomment_set.all %}
                <div class="comment">

                    <div class="comment-author"><a
                            href="{% url 'details user' pk=request.user.pk %}">{{ comment.user }}</a>
                    </div>

                    <!-- Delete my comment -->
                    <div class="comment-text">{{ comment.text }}</div>
                    {% if comment.user == request.user %}
                    <form method="post" action="{% url 'delete comment' comment_id=comment.id %}">
                        <button type="submit">x</button>
                        {% csrf_token %}
                    </form>
                    {% endif %}

                </div>
            {% endfor %}
        {% else %}
            No comments yet.
        {% endif %}
    </div>
</div>

<!-- Add comments -->
<div class="add-comment">
    <h2>Add Comment</h2>
    <div class="comment">
        <form method="post" action="{% url 'comment trip' trip_id=trip.pk %}">
            {{ comments_form.as_table }}

                <button type="submit">Post</button>

            {% csrf_token %}
        </form>
    </div>
</div>