{% extends 'common/base.html' %}

{% block content %}

    <main>
        <!-- Add Trip Form -->
        <section id="create">
            <div class="form">
                <h2>Add New Trip</h2>
                <form class="create-form" method="post" action="{% url 'create trip' %}">
                    {{ form.as_p }}
                    {% if used_agency == 'Denita' %}
                        AAAAAA
                    {% endif %}
                    <button type="submit">Add Trip</button>
                    {% csrf_token %}
                </form>
            </div>
        </section>
    </main>

{% endblock %}